{% extends "index.html" %}

{% block content %}
	<article class="uk-article uk-text-center">

		<h2 class="uk-article-title uk-text-capitalize">{{ item.name }}</h2>

        <p>
            Written by <b class="uk-text-capitalize">{{ author.username }} ID:  {{author.id}}</b> on <time datetime="{{item.post_date}}">{{ item.post_date|datetimeformat('%d %B %Y') }}</time>
        </p>

	    <p class="uk-dropcap description uk-padding-small">
	    	{{ item.description }}
	    </p>
		
		{% if authenticated() %}
		<div class="uk-margin">
            <a class="uk-button uk-button-default"
            href="{{ url_for('edit_item', item_name=item.name) }}" 
            uk-icon="icon:pencil;" 
            title="Edit">
            </a>

            <a class="uk-button uk-button-default" 
            href="{{ url_for('delete_item', item_name=item.name) }}" 
            uk-icon="icon:trash;" 
            title="Delete">
            </a>
        </div>
        {% endif %}
	</article>
{% endblock %}